.body{
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  font-size: 24px;
}

.subtitle{
  font-size: 16px;
}

.add-text-btn{
  margin:10px;
}

.delete-text-btn{
  margin: 10px;
}

.largeContainer{
  font-family: Arial, Helvetica, sans-serif;
  border: 2.5px solid black;
  width: 500px;
  padding: 10px;
  display: inline-block;
}

.container{
  font-family: Arial, Helvetica, sans-serif;
  width: 480px;
  display: inline-block;
}

.games{
  width: 480px;
  min-height: 250px;
  display: inline-block;
  margin:10px;
}

.box{
  border: 1px solid black;
  width: 480px;
  height: 45px;
  margin:2px;
  background-color: rgb(240,240,240)
}

.averageBox{
  border: 1px solid black;
  width: 480px;
  height: 45px;
  margin:2px;
  background-color: rgb(240,240,240)
}

.game{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.statLine{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.user-input-opponent{
  margin:2px;
}

.user-input-points{
  margin:2px;
}

.user-input-rebounds{
  margin:2px;
}

.user-input-assists{
  margin:2px;
}

.user-input-steals{
  margin:2px;
}

.user-input-turnovers{
  margin:2px;
}